// Media query per tablet
@media screen and (max-width: 1023px) {


    ////////////////////
    //JUMBOTRON
    ////////////////////
    #jumbotron-title {
        padding: 0 15%;
        font-size: 61px;
        text-align: center;

        #jumbotron-span {
            font-size: 50px;
            text-align: center;
            color: #ECC01B;
            -webkit-text-stroke: 2px black;
        }
    }
}















// Media query per dispositivi mobili
@media screen and (max-width: 599px) {
    #jumbotron-title {
        padding: 0 15%;
        font-size: 61px;
        text-align: center;

        #jumbotron-span {
            font-size: 50px;
            text-align: center;
            color: #ECC01B;
            -webkit-text-stroke: 2px black;
        }
    }
}